  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #primary {
    flex: 1 0 auto !important;
  }


  footer.page-footer {
  	padding-top: 0 !important;
  }

  #sidebar {
  	background:#333;
  	height: 100%;
  }
  
  nav.primary {
  line-height:50px;
  height:50px !important;
  }
  
  .nav-wrapper {
    padding:0 10px !important;
  }
  
  #nav-mobile i {
  line-height:50px !important;
  height:50px !important;
  }
  
 .subnav {
  line-height:30px !important;
  height:30px !important;
  }
  
  nav.subnav .nav-wrapper {
    padding:0 10px !important;
  }
    @media only screen and (min-width : 993px) {
		nav a.button-collapse-second {
			display:none;
		}
	}

	
	.container-log {
	  display: flex;
  min-height: 100vh;
  flex-direction: column;
	}
	
	.block-log {
		margin:auto !important;
	}
	
	
	.card .card-action a {
	color:#fff !important;
	}
	
	.card .card-action a:hover {
	color:#eeeeee !important;
	}
	
	#body-id {
	  background: url(../img/BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}